body{
    background-color:#ffffff;
    

    
}
img{
    border:1px solid;
    border: radius 4px;
    padding: 5px;
    width: 150px;
    background-image: -moz-linear-gradient();

}
head{
    padding: 0px;
    margin: 0px;
    display:inline;
    text-align: center;
}
div{
    display: flex;

}
.wrapper li{
    display:flex;
}
